 <span>{{ title }} app is running!</span> 
 <hr>
 

<table border=1>
  <tr>
    <td colspan="3" style="background-color: grey;">Add Contact</td>
  </tr>
  <tr>
  
   <td> <input [(ngModel)]="firstname" name="firstname" type="text" placeholder="Name"></td>
   <td> <input [(ngModel)]="phoneNo" name="phoneNo" type="number" placeholder="phoneNo"></td> 
   <td><button (click)="addPerson()">Add</button></td>
 
  </tr>
</table>
<table border="1">
  <h4> Get Contact </h4>
  <tr *ngFor="let contacts of contact">
   
    <td>{{contacts}}  <img src="assets/image/person.png" height="20" width="20"> <img src="assets/image/phone.png" height="20" width="20"></td> 
   
    
    <td><button (click)="deleteData(contacts)">x</button></td>
  

 
  </tr>
  

  <tr>
  
  </tr>
 
</table>



  
